h1 {
    color: red;
}

body {
    background-color: orange;
}

ul {
    background-color: cornsilk;
}


li {
    border: 2px red solid;
}

p {
    background-color: rgb(224, 171, 153);
    padding: 20px;
}

#theImg {
    width: 200px;
}